@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);

$backgroundColor: #3A3B3C; 
$boxPrimaryColor: #686A6C;
$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$rockColor: #ef6eae;
$paperColor: #ffa260;
$scissorsColor: #19bc8b;
$neutralItems: #a972cb;

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 2vh;
    /*background-image: linear-gradient(to right, #FAAED9, #EFEFF7,  #28C7A9);*/
    background-color: $backgroundColor;
    font-family: "Oswald", Sans-serif;       
}

.masterContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.topsection
.toptitles {
    @include flexColumn();
    gap: 2vh;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    color: $backgroundColor;
    background-color: $neutralItems;
    border-radius: 8px;
    padding: 1vh;
    width: 45vh;
    margin: 0;
    box-shadow: $boxShadow;
}

h2 {
    display: flex;
    font-weight: 400;
    font-size: 2.2vh;
    color: $neutralItems;
    margin: 0;
    text-shadow: $boxShadow;
}

.boxescontainer{
    @include flexRow();
    gap: 3vh;
    margin: 2vh;
}

.playbox {
    @include flexColumn();
    height: 30vh;
    width:30vh;
    border-radius: 8px;
    border: .5vh solid $neutralItems;
    background-color: $backgroundColor;
    box-shadow: $boxShadow;
}

.placeholder {
    background-color: $backgroundColor;
    height: 25vh;
    width: 20vh;
}

.score {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $backgroundColor;
    font-size: 2vh;
    background-color: $neutralItems;
    padding: 1vh;
    height: 3vh;
    width: 29vh;
    border-radius: 0px 0px 8px 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2vh;
}

button {
    background-color: $backgroundColor;
    font-family:"Oswald", Sans-serif;
    box-shadow: $boxShadow;
    min-width: 12vh;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 4px;
}

.rock {
    border: .3vh solid $rockColor;
    color: $rockColor;
    transition: 0.3s;
}

.rock:hover{
    background-color: $rockColor;
    color: $backgroundColor;
}

.paper {
    border: .3vh solid $paperColor;
    color: $paperColor;
    transition: 0.3s;
}

.paper:hover{
    background-color: $paperColor;
    color: $backgroundColor;
}

.scissors {
    border: .3vh solid $scissorsColor;
    color: $scissorsColor;
    transition: 0.3s;
}

.scissors:hover{
    background-color: $scissorsColor;
    color: $backgroundColor;
}