@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
body {
  min-height: 100vh;
  margin: 0;
  padding: 2vh;
  background-color: #3A3B3C;
  font-family: "Oswald", Sans-serif;
}

.masterContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.topsection .toptitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4.5vh;
  color: #3A3B3C;
  background-color: #a972cb;
  border-radius: 8px;
  padding: 1vh;
  width: 50vh;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
  display: flex;
  font-weight: 400;
  font-size: 2.5vh;
  color: #a972cb;
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  margin: 2vh;
}

.playbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  border-radius: 8px;
  border: 0.5vh solid #a972cb;
  background-color: #3A3B3C;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.placeholder {
  height: 25vh;
  width: 20vh;
}

.ocult {
  opacity: 0;
}

.score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3A3B3C;
  font-size: 2vh;
  background-color: #a972cb;
  padding: 1vh;
  height: 3vh;
  width: 29vh;
  border-radius: 0px 0px 8px 8px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2vh;
}

button {
  background-color: #3A3B3C;
  font-family: "Oswald", Sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 12vh;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 4px;
}

.rock {
  border: 0.3vh solid #ef6eae;
  color: #ef6eae;
  transition: 0.3s;
}

.rock:hover {
  background-color: #ef6eae;
  color: #3A3B3C;
  cursor: pointer;
}

.rockpressed {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ef6eae;
}

.paper {
  border: 0.3vh solid #ffa260;
  color: #ffa260;
  transition: 0.3s;
}

.paper:hover {
  background-color: #ffa260;
  color: #3A3B3C;
  cursor: pointer;
}

.paperpressed {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffa260;
}

.scissors {
  border: 0.3vh solid #19bc8b;
  color: #19bc8b;
  transition: 0.3s;
}

.scissors:hover {
  background-color: #19bc8b;
  color: #3A3B3C;
  cursor: pointer;
}

.scissorspressed {
  transform: scale(1.1);
  box-shadow: 0 0 15px #19bc8b;
}

.finalContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.btnPlayAgain {
  background-color: #3A3B3C;
  font-family: "Oswald", Sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 12vh;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 4px;
  border: 0.3vh solid #a972cb;
  color: #a972cb;
  transition: 0.3s;
}

.btnPlayAgain:hover {
  background-color: #a972cb;
  color: #3A3B3C;
  cursor: pointer;
}

.btnPlayAgainpressed {
  transform: scale(1.1);
  box-shadow: 0 0 15px #a972cb;
}/*# sourceMappingURL=style.css.map */